$white: #fff;
$dark-brown: #404040;
$gray: #f5f5f5;
$light-gray: #ababab;
$black: #000000;
$green: #8bcac3;

$text-color: $dark-brown;
$bg-color: $white;
$border-color: $gray;
$bg-color-gray: $gray;
$light-text: $light-gray;
$footer-bg: $black;
$accent-color: $green;
